# C++ build artifacts
*.o
*.obj
*.exe
*.dll
*.lib
*.so
*.a
*.out

# VS Code settings
.vscode/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Logs
*.log

# Test output
/test/*.out

# Ignore build folders
/build/
/bin/

# Ignore user-specific files
*.swp
*.swo
*.tmp
.DS_Store